<!-- this is the generic product card for both products page and New product section -->

<div *ngIf="product.title" class="card" style="width: 15rem;">
  <img *ngIf="product.imageurl" class="card-img-top" [src]="product.imageurl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.price | currency:'INR':true}}</p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <button *ngIf="getQuantity() === 0; else grayColorButton" (click)="addToCart()" class="btn btn-secondary btn-block">Add to Cart</button>
  </div>
  <ng-template #grayColorButton >
    <div class="row">
      <div class="col-2">
        <button (click)="addToCart()" class="btn btn-secondary btn-block">+</button>
      </div>
    <div class="col text-center">{{getQuantity()}} in cart</div>
        <div class="col-2">
          <button (click)="removeFromCart()" class="btn btn-secondary btn-block">-</button>
        </div>
    </div>
  </ng-template>
</div> 