<!-- this is the generic product card for both products page and New product section -->

<div *ngIf="product.title" class="card" style="width: 15rem;">
  <img *ngIf="product.imageurl" class="card-img-top" [src]="product.imageurl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.price | currency:'INR':true}}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button *ngIf="shoppingCart.getQuantity(product) === 0; else grayColorButton" (click)="addToCart()" class="btn btn-secondary btn-block">Add to Cart</button>
  <ng-template #grayColorButton >
    <app-product-quantity [product]="product" [shopping-Cart]="shoppingCart"></app-product-quantity>
  </ng-template>
  </div>
</div> 